on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: deploy2nekoweb
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Build code
        run: |
          bun install
          bun run index.js

      - name: deploy2nekoweb
        uses: indiefellas/deploy2nekoweb@main
        
        with:
          nekoweb-api-key: ${{ secrets.NEKOWEB_API_KEY }}
          nekoweb-cookie: ${{ secrets.NEKOWEB_COOKIE }}
          nekoweb-domain: 'deploy.nekoweb.org'
          nekoweb-username: 'deploy'
          directory: 'dist'
